﻿@model IList<DomainCompany.Entities.Banner>
@if (Model != null && Model.Any())
{
    <div class="ui container fluid centralBanner">
        <div class="ui container">
            <div class="ui grid two column top aligned center aligned stackable">

                @{
                    var contador = 0;
                    foreach (var banner in Model)
                    {
                        <div class="column ten wide">
                            <a href="@banner.Link" title="@banner.Name">
                                <img src="@banner.NameFileImage" alt="@banner.Name" onerror="imgError(this)">
                            </a>
                        </div>
                        contador++;

                        if (contador >= 1)
                        {
                            break;
                        }
                    }
                }
                <div class="column six wide">
                    @{
                        contador = 0;
                        foreach (var banner in Model)
                        {
                            contador++;

                            if (contador > 1)
                            {
                                <a href="@banner.Link" title="@banner.Name">
                                    <img src="@banner.NameFileImage" alt="@banner.Name" onerror="imgError(this)">
                                </a>
                            }
                        }
                    }
            </div>
            </div>
        </div>
    </div>
}