﻿@model IList<DomainCompany.Entities.Banner>
@if (Model != null && Model.Any())
{
    <div class="ui container fluid footerBanner">
        <div class="ui container">
            <div class="ui grid two column middle aligned center aligned stackable relaxed">
                <div class="column sixteen wide mobile six wide tablet six wide computer six wide large screen six wide widescreen">
                    <div class="ui grid equal width stackable">
                        @{
                            var contador = 0;
                            foreach (var banner in Model)
                            {
                                <div class="column @(contador < 2 ? "eight wide" : "sixteen wide")">
                                    <a href="@banner.Link" title="@banner.Name">
                                        <img src="@banner.NameFileImage" alt="@banner.Name" onerror="imgError(this)">
                                    </a>
                                </div>
    
                                contador++;
    
                                if (contador >= 3)
                                {
                                    break;
                                }
                            }
                        }
                    </div>
                </div>
                <div class="column sixteen wide mobile ten wide tablet ten wide computer ten wide large screen ten wide widescreen">
                    <div class="ui grid equal width stackable column">
                        @{
                            contador = 0;
                            foreach (var banner in Model)
                            {
                                contador++;

                                if (contador > 3)
                                {
                                    <div class="column @(contador == 4 ? "sixteen wide mobile five wide tablet five wide computer five wide large screen six wide widescreen" : "ten wide computer ten wide large screen ten wide widescreen")">
                                        <a href="@banner.Link" title="@banner.Name">
                                            <img src="@banner.NameFileImage" alt="@banner.Name" onerror="imgError(this)">
                                        </a>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}