﻿<!--<div class="ui container fluid infoBar margin bottom medium">
    <div class="ui container">
        <div class="ui middle aligned centered stackable grid  computer only">
            <div class="row doubling four column ">
                <div class="column">
                    <div class="icon_place">
                        <i class="sprite truck-fast floated left"></i>
                    </div>
                    <div class="text_place">
                        <span>Frete Grátis</span>
                        <p>Frete grátis para todo o brasil e territórios.</p>
                    </div>
                </div>
                <div class="column">
                    <div class="icon_place">
                        <i class="sprite credit-card floated left"></i>
                    </div>
                    <div class="text_place">
                        <span>Parcele suas compras</span>
                        <p>Parcele em até 12x sem juros suas compras no site.</p>
                    </div>
                </div>
                <div class="column">
                    <div class="icon_place">
                        <i class="rocket sprite floated left"></i>
                    </div>
                    <div class="text_place">
                        <span>Entrega Expressa</span>
                        <p>Recebe suas compras mais rápido em até 3 dias*.</p>
                    </div>
                </div>
                <div class="column">
                    <div class="icon_place">
                        <i class="shield-lock sprite floated left"></i>
                    </div>
                    <div class="text_place">
                        <span>Compra Segura</span>
                        <p>Loja com SSL e sistemas de proteção de suas informações.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->

<div class="ui container fluid infoBar margin bottom medium">
    <div class="ui container">
        <ul class="_tipbar">
            <li><img src="/assets/image/tipbar/image-tipbar-1.png" alt="Entrega para todo Brasil" /></li>
            <li><img src="/assets/image/tipbar/image-tipbar-2.png" alt="Frete Grátis acima de R$300" /></li>
            <li><img src="/assets/image/tipbar/image-tipbar-3.png" alt="Parcele suas compras em até 6x sem juros" /></li>
            <li><img src="/assets/image/tipbar/image-tipbar-4.png" alt="Compra 100% Segura" /></li>
        </ul>
    </div>
</div>