﻿@{
    List<DomainSocialNetwork.Entities.SocialNetwork> redesSociais = Session["SocialNetworkLinks"] != null ? (List<DomainSocialNetwork.Entities.SocialNetwork>)Session["SocialNetworkLinks"] : new List<DomainSocialNetwork.Entities.SocialNetwork>();
}

<!--<div class="ui container fluid margin bottom large">
    <div class="ui container">
        <picture>
            <source media="(max-width: 768)" srcset="/assets/image/banners/ajustes.jpg">
            <img src="/assets/image/banners/ajustes.jpg" class="ui image" alt="Compre e Ajuste">
        </picture>
    </div>
</div>-->

<div class="ui container fluid newsletter-bar">
    <div class="ui container">
        <div class="ui grid middle aligned">
            <div class="row stackable">
                <div class="column">
                    <div class="ui form">
                        <div class="inline fields margin none">
                            <div class="field">
                                <span>
                                    <i class="icon sprite email"></i>
                                    <h4 class="header">Newsletter</h4>
                                </span>
                            </div>
                            <div class="field textNews">
                                <span class="text">
                                    Cadastre seu e-mail e receba novidades e promoções.
                                </span>
                            </div>
                            <div class="field">
                                <div class="ui left icon input">
                                    <i class="email-1 sprite"></i>
                                    <input type="text" placeholder="seu@email.com.br" id="email_news">
                                </div>
                            </div>
                            <div class="field">
                                <button class="ui button red" id="btn_news">
                                    Cadastrar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="ui container fluid footer">
    <div class="ui container">
        <div class="ui four column stackable equal height grid centered">
            <div class="ten wide table six wide computer column">
                <div class="ui grid stackable">
                    <div class="row two column no padding listMobile">
                        @Html.Action("CustomPages", "Home")
                        
                        @Html.Action("GetList", "EventList")
                        
                        @Html.Action("SocialBar", "SocialNetwork")
                    </div>
                </div>
            </div>

            <div class="six wide tablet five wide computer five wide large screen five wide widescreen column">
                <div class="ui grid stackable">
                    <div class="row one column no padding listMobile">
                        
                        <div class="column text center">
                            <h4 class="ui header">Atendimento <i class="ui icon chevron right mobile only"></i></h4>
                            <div class="ui link list">
                                <p>Preparada para esclarecer suas dúvidas e problemas.</p>
                                <span class="sac">SAC: @LojaCorp.Control.Company._Company.Phone1</span>
                                <a href="/fale-conosco" class="ui button primary text uppercase tireDuvidas margin bottom medium">Tire suas dúvidas</a>

                                <p class="call_whatsapp">
                                    <span>WHATSAPP:</span>
                                    <a href="https://api.whatsapp.com/send?phone=5511966249939" target="_blank">(11) 96624-9939</a>
                                    <small>(clique para ser redirecionado)</small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sixteen wide mobile sixteen wide tablet five wide computer four wide large screen three wide widescreen column left aligned">
                <div class="ui grid stackable">
                    <div class="row one column no padding">
                        <div class="column seven wide tablet sixteen wide computer margin bottom large">
                            <h4 class="ui header">FORMAS DE PAGAMENTO</h4>
                            @Html.Partial("~/Views/Shared/Common/_Payments_List.cshtml")
                        </div>
                        <div class="column seven wide tablet sixteen wide computer middle aligned">
                            <h4 class="ui header">SEGURANÇA</h4>
                            <div class="ui horizontal list selos">
                                @Html.Action("EBit", "Company")
                                @Html.Action("GetCompanySeal", "Company")
                                @*
                                    <div class="item">
                                        <img src="//assets.pagseguro.com.br/ps-integration-assets/banners/seguranca/seguranca_125x125.gif" alt="Banner PagSeguro" title="Compre com PagSeguro e fique sossegado">
                                    </div>
                                *@

                                <div class="item">
                                    <a href="https://letsencrypt.org/" target="_blank">
                                        <img src="/assets/image/selos/ico-encrypt.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text center">
            <div class="ui divider"></div>
            @Html.Partial("Common/_JetLogo")
            
            <a href="https://www.sandersdigital.com.br/" title="@Html.Raw("Agência Sanders")" target="_blank" class="ui image margin bottom no">
                <img src="/assets/image/logo/logo-sanders.png"/>
            </a>
        </div>
    </div>
</footer>
<div class="ui container fluid vertical subFooter">
    <div class="ui container">
        <div class="ui column grid">
            <div class="row stackable">
                <div class="column text small textoEmpresa">
                    <span>@LojaCorp.Control.Company._Company.FantasyName</span> -
                    <address>
                        @{
                            string complementAddress = LojaCorp.Control.Company._Company.Complement != "" ? " " + LojaCorp.Control.Company._Company.Complement + ", " : "";
                        }
                        @string.Format("{0}, {1}{2}", LojaCorp.Control.Company._Company.Address, complementAddress, LojaCorp.Control.Company._Company.Neighbourhood) |
                        @string.Format("{0}-{1}-{2}", LojaCorp.Control.Company._Company.CEP, LojaCorp.Control.Company._Company.City, LojaCorp.Control.Company._Company.State) |
                        CNPJ: @LojaCorp.Control.Company._Company.CNPJ
                    </address>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-block">

</div>


@*teste pablo*@

