﻿@{
  string _classSearch = Session["idEventList"] == null ? "search" : "filterListEventsProducts";
  string _classMiniCart = Session["idEventList"] == null && Session["EventList"] == null ? "mini-cart" : "mini-cart-list-event";
}
<div class="ui container fluid _header">
  <div class="ui container">
    <div class="ui middle aligned four column centered grid">
      <div class="row">
        <div class="ui two wide column tablet-hide computer-hide">
          <a class="animated-arrow wsnavtoggle"><span></span></a>
        </div>
        <div class="ui five wide mobile four wide tablet four wide computer column">
          <a href="/Home" title="Página Inicial">
            <img class="ui middle aligned image logo" src="/assets/image/logo/logo.png" alt="@LojaCorp.Control.Company._Company.FantasyName" title="@LojaCorp.Control.Company._Company.FantasyName">
          </a>
        </div>
        <div class="ui center aligned six wide tablet six wide computer seven wide large screen seven wide widescreen column searchcolumn">
          <div class="ui category @_classSearch">
            <div class="ui icon input fluid">
              <input class="prompt" type="text" placeholder="O que está procurando?">
              <i class="search icon"></i>
            </div>
            <div class="results"></div>
          </div>
        </div>
        @{
          bool isb2b = Session["segment"] != null && Session["segment"].ToString() == "b2b" ? true : false;
          DomainAssistedSale.Entities.Seller _assistedSale = (DomainAssistedSale.Entities.Seller) Session["Seller"];
          bool isAssistedSale = _assistedSale != null ? true : false;

          if (!isb2b && !isAssistedSale)
          {
            <div class="ui center aligned two wide mobile two wide tablet two wide computer column mobile-hide">
              <div>
                <a href="/Customer/WishList"><i class="icon heart large red" style="position: absolute;"></i></a>
                @{
                  if (Request.Cookies["WishList"] == null)
                  {
                    @Html.Action("LoadWishListCookie", "Customer")
                  }

                  List<DomainCustomer.Entities.Wishlist.WishlistItem>
                    wishList = Newtonsoft.Json.JsonConvert.DeserializeObject<List<DomainCustomer.Entities.Wishlist.WishlistItem>>(Request.Cookies["WishList"] != null ? HttpUtility.UrlDecode(Request.Cookies["WishList"].Value) : string.Empty);
                  int wishListItemsCount = wishList != null ? wishList.Count() : 0;
                }
                <a id="wishListCount" href="/Customer/WishList" class="ui circular label">@wishListItemsCount</a>
              </div>
            </div>
          }
        }
        <div class="ui right aligned eight wide mobile four wide tablet four wide computer three wide large screen three wide widescreen column">
          <div id="cartButton" class="ui labeled button cartbutton no margin bottom @_classMiniCart" tabindex="0" data-segment="@(Session["segment"] != null ? Session["segment"] : "b2c")">
            <div class="ui primary button ">
              <i class="sprite cart"></i>
              <span>@(Session["idEventList"] == null && Session["EventList"] == null ? "Meu Carrinho" : "Minha Lista")</span>
            </div>
            <a class="ui left pointing primary label" id="total_itens_card">
              @{
                if (Session["EventList"] == null)
                {
                  @Html.Action("TotalItensCart", "Checkout")
                }
                else
                {
                  @Html.Action("TotalItensList", "EventList")
                }
              }

            </a>
          </div>
          <div class="ui searchMobile">
            <div class="ui button icon centered">
              <i class="search icon"></i>
            </div>
            <div class="ui blocoBusca @_classSearch">
              <div class="ui icon input fluid">
                <input class="prompt" type="text" placeholder="O que está procurando?">
                <i class="search icon"></i>
              </div>
              <div class="results"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

