<a href="http://www.jetecommerce.com.br" title="Jet E-commerce" target="_blank" class="ui image margin bottom no">
	<svg version="1.1"
		 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
		 x="0px" y="0px" viewBox="0 0 336.6 238.4" style="enable-background:new 0 0 336.6 238.4;"
		 xml:space="preserve"  id="jetLogo">
	<defs>
	</defs>
	<path class="st0" d="M42.3,31.1l5.3,23h16.8c-8.2,37.9-23.6,109.3-23.6,109.3c-1.6,6.9-4.3,14.2-9.8,18.9
		c-6.6,5.6-16.9,4.3-24.7,2.2L0,206.6c1.5,0.4,19.4,5.4,35.2,2c9.2-2,17.6-8.3,21.8-14.1c5-6.9,7.7-18.8,9.9-27
		c1.8-6.8,28.9-136.4,28.9-136.4H42.3z"/>
	<path class="st0" d="M250.5,143.5c-3.6,1.5-7.1,2.7-9.9,2.9c-8.3,0.8-14.4-4.8-9.6-25.4c5.3-23.1,15.1-67,15.1-67l34.5,0l5.3-23
		l-34.7,0.1L258.4,0h-25.3c-1,4.6-25,106.6-27.2,117.3c-3,14-7.3,29.8,2.6,42.3c5.9,7.5,15,9.8,24.2,9.8c7.3,0,13.7-0.9,19-3.4
		c-2.6-3.4-4.2-7.6-4.2-12.2C247.6,150,248.7,146.5,250.5,143.5"/>
	<path class="st1" d="M267.3,139.9c-2.9,0-5.7,0.9-7.9,2.5c-3.5,2.5-5.8,6.6-5.8,11.3c0,3.5,1.3,6.6,3.4,9.1
		c2.5,2.9,6.2,4.8,10.4,4.8c7.6,0,13.7-6.2,13.7-13.8C281,146.1,274.8,139.9,267.3,139.9"/>
	<path class="st0" d="M161.7,50.6c5.2,0,9.1,1.2,11.7,3.5c2.6,2.3,3.9,5.6,3.9,9.8c0,8-4.3,14.3-13,18.6c-8.7,4.4-20.7,6.6-36.1,6.6
		h-3.6C129.9,61.1,151,50.6,161.7,50.6 M121.5,111.3h5.2c25.8,0,65.1-4.3,76-32.8c5-13.2,4.1-29.5-6.9-39.4
		c-8.7-7.8-22.1-10.8-33.6-10.4c-37.6,1.3-62.5,34.5-68.4,66c-3.7,19.5-3.9,41.4,8.4,58.1c9.7,13.1,25.6,16.6,42.1,16.6
		c20.7,0,37.3-6.5,37.3-6.5l5.5-25.4c0,0-18,10.1-38.2,10.3c-15.9,0.1-25.8-9.1-27.3-23.5C121.1,119.2,121.5,111.3,121.5,111.3"/>
	<g>
		<polygon class="st0" points="133.7,222.3 132.7,224.8 119.3,224.8 120.4,222.3 	"/>
		<path class="st0" d="M159.2,226.2c0.4-2.1,0.6-3.8,0.6-5.3c0-4.7-2.2-6.3-6.9-6.3c-5.2,0-7.8,2.2-9.3,9.7c-0.4,2.1-0.7,3.8-0.7,5.3
			c0,4.6,2.1,6.3,6.8,6.3C155.3,235.9,157.6,233.8,159.2,226.2 M140.2,229.8c0-1.5,0.1-3,0.5-4.9l4.5-22.8h2.8l-2.6,13.5
			c1.7-2.2,4.3-3.3,8.1-3.3c5.7,0,9.2,2.3,9.2,8.8c0,1.5-0.1,3.2-0.5,5c-1.6,8.5-4.9,12.3-12.5,12.3
			C143.6,238.4,140.2,236.1,140.2,229.8"/>
		<path class="st0" d="M192.8,213l-3.1,15.7c-1.3,6.8-4.5,9.6-11.2,9.6c-5.4,0-8.9-2.1-8.9-7.2c0-0.9,0.1-1.9,0.3-2.9l3-15.3h2.8
			l-3,15.4c-0.2,1-0.3,1.8-0.3,2.5c0,3.8,2.3,4.9,6.3,4.9c4.9,0,7.1-1.9,8.3-7.5l3-15.4H192.8z"/>
		<path class="st0" d="M201.9,219.9c0,1.7,0.6,2.3,3.3,3.1l4.8,1.4c4,1.1,5.6,2.9,5.6,5.6c0,0.5-0.1,1.5-0.3,2.2
			c-0.8,3.3-3,5.5-10.1,5.5c-3.3,0-5.8,0-9-0.1l1-2.4c4.3,0.1,5.3,0.1,8.2,0.1c5.5,0,6.8-1.3,7.3-3.5c0.1-0.5,0.1-1,0.1-1.4
			c0-1.7-1-2.7-3.4-3.4l-5.2-1.5c-3.6-1-4.8-2.4-4.8-5.3c0-0.5,0-1.1,0.2-1.8c1-4.2,4.3-5.5,9.7-5.5c2.1,0,5.3,0,8.7,0.2l-1,2.4
			c-3.1-0.1-6.6-0.2-8.5-0.2c-3.9,0-5.8,0.9-6.3,3.3C201.9,219.1,201.9,219.6,201.9,219.9"/>
		<path class="st0" d="M231.6,205.7c0,1.7-0.8,2.5-2.3,2.5c-1.2,0-1.8-0.6-1.8-1.7c0-1.8,0.8-2.5,2.3-2.5
			C230.9,204,231.6,204.4,231.6,205.7 M227,213h2.8l-4.8,24.6h-2.8L227,213z"/>
		<path class="st0" d="M234.3,237.6l3.1-15.9c1.3-6.7,4.5-9.5,11.2-9.5c6.3,0,9,2.5,9,7.2c0,0.9-0.1,1.9-0.3,2.9l-3,15.3h-2.8l3-15.4
			c0.2-1,0.3-1.8,0.3-2.5c0-3.8-2.4-5-6.4-5c-4.9,0-7.3,1.7-8.4,7.2l-3.1,15.7H234.3z"/>
		<path class="st0" d="M268.1,224.1h7.7c5.1,0,6.4-1.1,7.3-4c0.1-0.6,0.2-1.2,0.2-1.8c0-2.2-1.5-3.7-5.7-3.7
			C272.3,214.6,269.6,217,268.1,224.1 M267.7,226.4c-0.2,1-0.2,1.9-0.2,2.7c0,4,1.7,6.1,7,6.1c2.9,0,4.6,0,7.1-0.2l-1,2.4
			c-2.1,0.2-3.7,0.2-6.2,0.2c-7.3,0-9.8-3.3-9.8-8.4c0-1.6,0.2-3.3,0.6-5c2.2-9.4,6.1-12.1,12.5-12.1c5.9,0,8.3,2.4,8.3,5.9
			c0,0.7-0.1,1.4-0.3,2.2c-0.9,4.2-3.7,6.1-10,6.1H267.7z"/>
		<path class="st0" d="M295.7,219.9c0,1.7,0.6,2.3,3.3,3.1l4.8,1.4c4,1.1,5.6,2.9,5.6,5.6c0,0.5-0.1,1.5-0.3,2.2
			c-0.8,3.3-3,5.5-10.1,5.5c-3.3,0-5.8,0-9-0.1l1-2.4c4.3,0.1,5.3,0.1,8.2,0.1c5.5,0,6.8-1.3,7.3-3.5c0.1-0.5,0.1-1,0.1-1.4
			c0-1.7-1-2.7-3.4-3.4l-5.2-1.5c-3.6-1-4.8-2.4-4.8-5.3c0-0.5,0-1.1,0.2-1.8c1-4.2,4.3-5.5,9.7-5.5c2.1,0,5.3,0,8.7,0.2l-1,2.4
			c-3.1-0.1-6.6-0.2-8.5-0.2c-3.9,0-5.8,0.9-6.3,3.3C295.8,219.1,295.7,219.6,295.7,219.9"/>
		<path class="st0" d="M320.7,219.9c0,1.7,0.6,2.3,3.3,3.1l4.8,1.4c4,1.1,5.6,2.9,5.6,5.6c0,0.5-0.1,1.5-0.3,2.2
			c-0.8,3.3-3,5.5-10.1,5.5c-3.3,0-5.8,0-9-0.1l1-2.4c4.3,0.1,5.3,0.1,8.2,0.1c5.5,0,6.8-1.3,7.3-3.5c0.1-0.5,0.1-1,0.1-1.4
			c0-1.7-1-2.7-3.4-3.4l-5.2-1.5c-3.6-1-4.8-2.4-4.8-5.3c0-0.5,0-1.1,0.2-1.8c1-4.2,4.3-5.5,9.7-5.5c2.1,0,5.3,0,8.7,0.2l-1,2.4
			c-3.1-0.1-6.6-0.2-8.5-0.2c-3.9,0-5.8,0.9-6.3,3.3C320.7,219.1,320.7,219.6,320.7,219.9"/>
		<path class="st0" d="M96.1,224.1h7.7c5.1,0,6.4-1.1,7.3-4c0.1-0.6,0.2-1.2,0.2-1.8c0-2.2-1.5-3.7-5.7-3.7
			C100.3,214.6,97.6,217,96.1,224.1 M95.7,226.4c-0.2,1-0.2,1.9-0.2,2.7c0,4,1.7,6.1,7,6.1c2.9,0,4.6,0,7.1-0.2l-1,2.4
			c-2.1,0.2-3.7,0.2-6.2,0.2c-7.3,0-9.8-3.3-9.8-8.4c0-1.6,0.2-3.3,0.6-5c2.2-9.4,6.1-12.1,12.5-12.1c5.9,0,8.3,2.4,8.3,5.9
			c0,0.7-0.1,1.4-0.3,2.2c-0.9,4.2-3.7,6.1-10,6.1H95.7z"/>
	</g>
	</svg>
</a>  
