﻿@model List<DomainProduct.Entities.Category>

<div class="ui container fluid menuheader">
    <div class="ui container">
        <div class="wsmain">
            <div class="titleMenu tablet-hide computer-hide">
                <span class="title">Escolha uma categoria</span>
                <a class="animated-arrow wsnavtoggle close"><span></span></a>
            </div>
            <nav class="wsmenu">
                <ul class="mobile-sub wsmenu-list ui menu">
                    @foreach (DomainProduct.Entities.Category category in Model)
                    {
                        if (category.Level.Length == 2)
                        {
                            <li>
                                <a href="@category.UrlFriendly" class="item" title="@category.Name">
                                    @category.Name
                                </a>
                                @if (category.ChildCategories != null && category.ChildCategories.Any())
                                {
                                    <div class="megamenu clearfix">
                                        <div class="ui grid @(category.Image != null ? "equal width" : "")">
                                            <div class="row">
                                                <div class="column">
                                                    @if (category.ChildCategories != null && category.ChildCategories.Any())
                                                    {
                                                        <div class="backLink"><i class="icon angle left"></i> Voltar</div>
                                                        
                                                        foreach (DomainProduct.Entities.Category subCategoryLevel1 in category.ChildCategories)
                                                        {
                                                            <div class="ui list relaxed">
                                                                <a href="@subCategoryLevel1.UrlFriendly" title="@subCategoryLevel1.Name" class="nivel">@subCategoryLevel1.Name</a>
                                                                @if (subCategoryLevel1.ChildCategories != null && subCategoryLevel1.ChildCategories.Any())
                                                                {
                                                                    <div class="subMega">
                                                                        @foreach (var subCategoryLevel2 in subCategoryLevel1.ChildCategories)
                                                                        {
                                                                            <a class="item" href="@subCategoryLevel2.UrlFriendly" title="@subCategoryLevel2.Name">@subCategoryLevel2.Name</a>
                                                                        }
                                                                        <a href="@subCategoryLevel1.UrlFriendly" class="item computer-hide verTudo" title="@subCategoryLevel1.Name">Ver produtos de @subCategoryLevel1.Name</a>
                                                                    </div>
                                                                }
                                                            </div>
                                                        }
                                                        <a href="@category.UrlFriendly" class="viewAll computer-hide" title="@category.Name">Ver produtos de @category.Name</a>
                                                    }
                                                </div>
                                                @if (category.Image != null)
                                                {
                                                    <div class="column mobile-hide">
                                                        @{
                                                            string linkCategoriaImagem = null;
                                                            if (category.Link != null)
                                                            {
                                                                linkCategoriaImagem = @category.Link;
                                                            }
                                                            else
                                                            {
                                                                linkCategoriaImagem = @category.UrlFriendly;
                                                            }
                                                        }
                                                        <a href="@linkCategoriaImagem" title="@category.Image" title="@category.Name">
                                                            <img class="ui image" src="@category.Image" alt="@category.Name" title="@category.Name"/>
                                                        </a>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                }
                            </li>
                        }
                        else
                        {
                            <li>
                                <a class="item" href="~/category/index/@category.IdCategory" title="@category.Name"><span>@category.Name</span></a>
                            </li>
                        }
                    }
                </ul>
            </nav>
        </div>
    </div>
</div>
