﻿@model List<DomainProduct.Entities.ProductImage>

@{
    DomainProduct.Entities.SealStatus tag = new DomainProduct.Entities.SealStatus();

    if (Session["SealStatusV"] != null)
    {
        tag = (DomainProduct.Entities.SealStatus)Session["SealStatusV"];
    }
    else
    {
        tag.Image = "";
        tag.Name = "";
    }
}

<div class="ui grid">
   
    <div class="row">
        @if (!Request.Browser.IsMobileDevice)
        {
            <div class="column four wide three wide large screen three wide widescreen">
                @Html.Partial("~/Views/Product/Details/_Gallery.cshtml", Model)
            </div>
        }
        
        <div class="column sixteen wide mobile sixteen wide tablet @(!Request.Browser.IsMobileDevice ? "twelve wide computer thirteen wide large screen thirteen wide widescreen" : "sixteen wide") center aligned  ">
            <div class="ui image">
                @if (!string.IsNullOrEmpty(tag.Name))
                {
                    <div class="ui top left attached label massive imagetag">
                        <img src="@tag.Image" alt="@tag.Name" onerror="imgError(this)">
                    </div>
                }
                @if (Model != null && Model.Count() > 0)
                {
                    if (Request.Browser.IsMobileDevice)
                    {
                        <div class="gallery attached slideshow" data-qtd="1">
                            @foreach (var images in Model)
                            {
                                <div class="produto easyzoom easyzoom--overlay easyzoom--with-thumbnails easyzoom--with-toggle column attached">
                                    <a href="@(Model.FirstOrDefault().ImageHighResolution != null ? Model.FirstOrDefault().ImageHighResolution : "#")">
                                        @* Tem de Setar aqui a imagem de tamanho maior ZOOM!*@
                                        <img id="imagem-padrao" class="img" src="/assets/image/loading.svg" data-src="@Model.FirstOrDefault().ImageDefault" onerror="imgError(this)"/>
                                    </a>
                                </div>
                            }
                        </div>
                    }
                    else
                    {
                        <div class="produto easyzoom easyzoom--overlay easyzoom--with-thumbnails easyzoom--with-toggle attached">
                            <a href="@(Model.FirstOrDefault().ImageHighResolution != null ? Model.FirstOrDefault().ImageHighResolution : "#")">
                                @* Tem de Setar aqui a imagem de tamanho maior ZOOM!*@
                                <img id="imagem-padrao" class="img" src="/assets/image/loading.svg" data-src="@Model.FirstOrDefault().ImageDefault" onerror="imgError(this)"/>
                            </a>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>

<script>
    $(function() {
        
        if ($('.gallery').hasClass("slick-slider")) {
            $('.gallery').slick('unslick');
        }
        
        $(".gallery").each(function() {

            var $arrows = ($(this).data("arrow") != null ? $(this).data("arrow") : true),
                $dots = @(Request.Browser.IsMobileDevice ? "true" : "false"),
                $qtd = ($(this).data("qtd") != null || $(this).data("qtd") != undefined) ? $(this).data("qtd") : 4,
                $auto = ($(this).data("auto") != null || $(this).data("auto") != undefined ? true : false);

            var settings = {
                prevArrow: '<a class="slick-prev"></a>',
                nextArrow: '<a class="slick-next"></a>',
                arrows: $arrows,
                dots: $dots,
                slidesToShow: ($(this).children().length >= $qtd ? $qtd : $(this).children().length),
                accessibility: false,
                autoplay: $auto,
                autoplaySpeed: 6000,
                infinite: false,
                responsive: [
                    {
                        breakpoint: 935,
                        settings: {
                            slidesToShow: 2
                        }
                    },
                    {
                        breakpoint: 724,
                        settings: {
                            slidesToShow: 1
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 1
                        }
                    }
                ]
            };
            var $sliderCard = jQuery(".card", this),
                $slider = jQuery(this),
                $width = jQuery(".pusher").width();

           
                $slider.slick(settings);
            
            
        });
    })
</script>

